<footer class='c-footer'>
  <div class='o-grid'>
    <div class='o-grid__col o-grid__col--full'>

      <ul class='o-plain-list c-social-nav u-text-center'>
        {% unless site.twitter == '' %}
          <li class='c-social-nav__item'>
            <a href='{{ site.twitter }}' target='_blank'>
              <span class='c-social-nav__icon' data-icon='ei-sc-twitter' data-size='s'></span>
            </a>
          </li>
        {% endunless %}

        {% unless site.facebook == '' %}
          <li class='c-social-nav__item'>
            <a href='{{ site.facebook }}' target='_blank'>
              <span class='c-social-nav__icon' data-icon='ei-sc-facebook' data-size='s'></span>
            </a>
          </li>
        {% endunless %}

        {% unless site.instagram == '' %}
          <li class='c-social-nav__item'>
            <a href='{{ site.instagram }}' target='_blank'>
              <span class='c-social-nav__icon' data-icon='ei-sc-instagram' data-size='s'></span>
            </a>
          </li>
        {% endunless %}

        {% unless site.github == '' %}
          <li class='c-social-nav__item'>
            <a href='{{ site.github }}' target='_blank'>
              <span class='c-social-nav__icon' data-icon='ei-sc-github' data-size='s'></span>
            </a>
          </li>
        {% endunless %}

        {% unless site.linkedin == '' %}
          <li class='c-social-nav__item'>
            <a href='{{ site.linkedin }}' target='_blank'>
              <span class='c-social-nav__icon' data-icon='ei-sc-linkedin' data-size='s'></span>
            </a>
          </li>
        {% endunless %}

        {% unless site.email == '' %}
          <li class='c-social-nav__item'>
            <a href='mailto:{{ site.email }}' target='_blank'>
              <span class='c-social-nav__icon' data-icon='ei-envelope' data-size='s'></span>
            </a>
          </li>
        {% endunless %}

        <li class='single-icon'>
          <a title='RSS' href="{{ '/atom.xml' | prepend: site.baseurl | prepend: site.url }}">
            <img width="13" src="/images/rss.png">
          </a>
        </li>
      </ul>

    </div>
  </div>
</footer>
