<header
  class='
    c-header
    {% if page.cover_image || page.cover_image_mobile %}
      c-header--has-cover-image
    {% endif %}
  '>

  <div class='o-grid'>
    <div class='o-grid__col o-grid__col--full'>
      <div class='c-header__inner'>

        <div class='o-grid'>
          <div class='
            o-grid__col
            o-grid__col--4-10-s
            o-grid__col--5-5-m
          '>
            <div class='c-logo u-text-left'>
              <a class='c-logo__link' href='{{ site.baseurl }}/'>
                <img class="logo-image"
                     width="40"
                     src="/images/header-alex.jpg">
                <span class='c-logo__text'>
                  {{ site.title }}</a>
                </span>
              </a>
            </div>
          </div>

          <div class='
            o-grid__col
            o-grid__col--6-10-s
            o-grid__col--5-5-m
          '>
            <nav class='c-header__nav'>
              <a class='c-header__nav-link{% if page.url == "/" %} c-header__nav-link--current{% endif %}' href='{{ site.baseurl }}/'>Essays</a>,
              <a class='c-header__nav-link{% if page.url == "/guides/" or page.url == "/guides" %} c-header__nav-link--current{% endif %}' href='{{ site.baseurl }}/guides'>Guides</a> &
              <a class='c-header__nav-link{% if page.url == "/about/" or page.url == "/about" %} c-header__nav-link--current{% endif %}' href='{{ site.baseurl }}/about'>About</a>
            </nav>
          </div>

        </div>

      </div>
    </div>
  </div>

</header>