/*------------------------------------*\
  Elements > Blockquote
\*------------------------------------*/

blockquote {
  padding-left: $blockquote-padding;
  margin-left: $base-margin-unit;
  border-left: 4px solid $color-border-blockquote;

  &, & * {
    color: $color-blockquote;
    // font-style: italic;
  }
}
