/*------------------------------------*\
  Elements > code & pre
\*------------------------------------*/

pre,
span.code,
code {
  font-family: $font-monospace;
  background-color: $color-code-bg;
  border-radius: 3px;
  font-size: $font-size-small;

  @include mq($until: tablet) {
    font-size: $font-size-small;
  }
}

.highlighter-rouge, .highlight {
  background-color: $color-code-bg !important;
  overflow-x: auto;

  @include mq($until: tablet) {
    max-width: 370px;
  }
}

pre.highlight code {
  background: none
}

p code,
ol code, ol span.code,
ul code, ul span.code,
h1 span.code, h2 span.code, h3 span.code, h4 span.code, h5 span.code, h6 span.code,
p span.code {
  white-space: normal;
}

pre.highlight code,
pre {
  overflow: auto;
  margin-bottom: $base-spacing-unit;
  font-size: $font-size-medium;
  line-height: $line-height-medium;
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-all;

  @include mq($until: tablet) {
    font-size: $font-size-small;
    line-height: $line-height-medium;
    white-space: pre;
    overflow-x: auto;
  }
}

pre {
  padding: double($base-spacing-unit);
}

table,
li,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  & span.code,
  & code {
    padding: quarter($base-spacing-unit) half($base-spacing-unit);
  }
}
