/*------------------------------------*\
  Components > Header
\*------------------------------------*/

.c-header {
  img.logo-image {
    border-radius: 50%;
    float: left;
    display: inline;
    margin-right: 10px;
  }

  .c-logo__link, .js-off-canvas-toggle {
    display: table;
  }

  .js-off-canvas-toggle {
    padding-top: 6px;
  }

  &__inner {
    padding: $base-spacing-unit 0;
    border-bottom: 1px solid $color-border;
  }

  @media only screen and (min-width: $mobile-width) {
    &__inner {
      padding-top: 16px;
      padding-bottom: 16px;
    }
  }

  &__icon {
    vertical-align: middle;
  }
}

/*------------------------------------*\
  Components > Logo
\*------------------------------------*/

.c-logo {
  &__link {
    padding-top: 2px;

    @media only screen and (min-width: $mobile-width) {
      font-size: $font-size-sitename;
    }
    @media only screen and (max-width: $mobile-width) {
      font-size: $font-size-sitename;
    }
    // font-weight: $font-weight-bolder;
    transition: $global-transition;

    @include attention() {
      color: $color-brand;
      text-decoration: none;
    }
  }
}
