---
layout: default
---

<div class="
  o-wrapper
  {% unless page.title_is_image %}spaced{% endunless %}
">

  <div class='o-grid'>
    <div class='o-grid__col o-grid__col--4-4-s'>
      <article class='c-post'>
        {% if page.image %}
          <meta itemprop='og:image' content='{{ site.baseurl }}{{ page.image }}'>
        {% endif %}

        <!-- We don't show a title if hide_title is set to true -->
        {% unless page.title_is_image %}
          <h1 class='c-post__title u-text-center'>{{ page.title }}</h1>
        {% endunless %}

        <div class='c-content'>
          {% include page-image.html %}

          {{ content }}
        </div>
      </article>
    </div>
  </div>

</div>