---
layout: default
---

{% include base_path %}

{% if page.cover_image %}
  {% include post-header.html %}
{% endif %}

<div class="o-wrapper {% unless page.title_is_image %}spaced{% endunless %}">
  <div class='o-grid'>
    <div class='o-grid__col o-grid__col--4-4-s'>
      <article
        class="
          c-post
          {% if page.page_css_class %}{{ page.page_css_class }}{% endif %}
        "
        itemscope
        itemtype='http://schema.org/BlogPosting'>


        {% unless page.cover_image %}
          <h1 class='c-post__title u-text-center'>{{ page.title }}</h1>

          <time
            class='c-post__date'
            datetime='{{ page.date | date_to_xmlschema }}'
            itemprop='datePublished'>{{ page.date | date: '%b %Y' }}</time>
        {% endunless %}

        <div class='c-content' itemprop='articleBody'>
          {% include page-image.html %}

          {{ content }}
        </div>

        <div class='c-tags'>
          {% for tag in page.tags %}
            <a href='{{ site.baseurl }}/tag/{{ tag }}'>{{ tag }}</a>
          {% endfor %}
        </div>

        {% comment %}
          <hr>
          {% include disqus.html %}
        {% endcomment %}

      </article>
    </div>
  </div>
</div>